@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: url(https://i.ibb.co/6tdryYF/431893.jpg);
    background-size: contain;
    margin-top: 100px;
}



.rectangle-form {
    position: relative;
    display: inline-block;
    margin: 40px 8px;
    min-width: 230px;
    max-width: 315px;
    width: 75%;
    color: #000;
    text-align: left;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
}

.rectangle-form *,
.rectangle-form:before,
.rectangle-form:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rectangle-form img {
    max-width: 35%;
    margin-top: -15px;
    margin-left: 60%;
    margin-bottom: 15px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 5px;
}

.rectangle-form figcaption {
    position: absolute;
    top: 0;
    right: 40%;
    left: 0;
    bottom: 0;
    padding: 15px;
}

.rectangle-form h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
}

.rectangle-form .icons {
    font-size: 1.6rem;
}

.rectangle-form .icons a {
    color: #ccc;
}

.rectangle-form .icons a:hover {
    color: #2980b9;
}


/* Demo purposes only */


.col-5 {
    margin-left: 60px;
}

#previous-page {
    margin-left: 25px;
}

.pagination {
    margin-right: 170px;
}

#demo {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    background-image: url("https://wallpaperset.com/w/full/b/2/f/415816.jpg");
    background-size: initial;
}