#scroll-animate
{
    overflow: hidden;
}

#scroll-animate-main
{
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll
{
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage
{
    left: 0;
}

#heightScroll
{
    right: 0;
}

/*FOR SCROLLER*/
.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
    background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); }


