<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--NAVBAR-->
    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--NAVBAR-->


    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/friends-page.css" th:href="@{/css/friends-page.css}">
    <link rel="stylesheet" href="../static/css/scroll.css" th:href="@{/css/scroll.css}">
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">

    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

</head>
<body class="scrollbar-morpheus-den">

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a href="post-page.html" th:href="@{/home}"><img src="https://images.cooltext.com/5345905.png" width="201"
                                                     height="69" alt="G S M"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="post-page.html" th:href="@{/home}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="friends-page.html" th:href="@{/friends}">
                    <i class="fa fa-users">
                        <span class="badge badge-info"> <span
                                th:text="${user.getReceivedFriendRequest().size()}"></span> </span>
                    </i>
                    Friends
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link " href="index.html" th:href="@{/logout}">
                    <i class="fa fa-power-off"></i>
                    </i>
                    Logout
                </a>
            </li>
        </ul>
        <ul id="admin-redirect" class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="admin.html" th:href="@{/admin}">
                    <i class="fa fa-lock">
                    </i>
                    Admin
                </a>
            </li>
        </ul>
        <div class="media-left pull-right "><a href="user-page.html" th:href="@{/user}"> <img
                class="rounded-circle thumbnail"
                th:src="'images/' + ${user.picture}"
                width="70" height="70" alt="Profile Pic"></a></div>
        <div class="pull-right">
            <h6><span th:text="${user.getFirstName()}"></span></h6></div>
    </div>
</nav>

<div id="user-role" style="display: none" th:text="${userRole}"></div>

<div>
    <div  class="row mt-5">
        <div id="demo" class="col-5" style="background: #454d55">
            <div id="table-content" class="row users-table-page">

            </div>

            <div class="d-flex justify-content-center" aria-label="Page navigation example">
                <ul class="pagination">
                    <input id="search-user-field" type="text" placeholder="Search by name...">
                    <li id="previous-page" class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li id="current-page" class="page-item"><a id="current-page-value" class="page-link" href="#"
                                                               data-custom-value="0">1</a></li>
                    <li id="next-page" class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>


        <div id="demo" class="col-5" style="background: #454d55">
            <div id="request-content" class="row">


            </div>

            <!--            <div class="d-flex justify-content-center" aria-label="Page navigation example">-->
            <!--                <ul class="pagination">-->
            <!--                    <li id="previous-page" class="page-item">-->
            <!--                        <a class="page-link" href="#">Previous</a>-->
            <!--                    </li>-->
            <!--                    <li id="current-page" class="page-item"><a id="current-page-value" class="page-link" href="#"-->
            <!--                                                               data-custom-value="0">1</a></li>-->
            <!--                    <li id="next-page" class="page-item"><a class="page-link" href="#">Next</a></li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>


    </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<script src="../static/js/friends-page.js" th:src="@{/js/friends-page.js}"></script>
<script src="../static/js/friendship.js" th:src="@{/js/friendship.js}"></script>
<script src="../static/js/hide-navbar-buttons.js" th:src="@{/js/hide-navbar-buttons.js}"></script>
</body>
</html>