<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>User page</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/navbarBootstrap.css" th:href="@{/css/navbarBootstrap.css}">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/user-page.css" th:href="@{/css/user-page.css}">
    <link rel="stylesheet" href="../static/css/scroll.css" th:href="@{/css/scroll.css}">
    <link rel="stylesheet" href="../static/css/popup.css" th:href="@{/css/popup.css}">
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">


    <!--    //LIKE THUMBS UP-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    //LIKE THUMBS UP-->

    <!--NAVBAR-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--NAVBAR-->

    <!------ Include the above in your HEAD tag ---------->
</head>


<body class="scrollbar-morpheus-den">

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a href="post-page.html" th:href="@{/home}"><img src="https://images.cooltext.com/5345905.png" width="201"
                                                     height="69" alt="G S M"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="post-page.html" th:href="@{/home}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        class="navbar-brand"
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="friends-page.html" th:href="@{/friends}">
                    <i class="fa fa-users">
                        <span class="badge badge-info"> <span
                                th:text="${user.getReceivedFriendRequest().size()}"></span> </span>
                    </i>
                    Friends
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link " href="index.html" th:href="@{/logout}">
                    <i class="fa fa-power-off"></i>
                    </i>
                    Logout
                </a>
            </li>
        </ul>
        <ul id="admin-redirect" class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="admin.html" th:href="@{/admin}">
                    <i class="fa fa-lock">
                    </i>
                    Admin
                </a>
            </li>
        </ul>
        <div class="media-left pull-right "><a href="user-page.html" th:href="@{/user}"> <img
                class="rounded-circle thumbnail"
                th:src="'images/' + ${user.picture}"
                width="70" height="70" alt="Profile Pic"></a></div>
        <div class="pull-right">
            <h6><span th:text="${user.getFirstName()}"></span></h6></div>
    </div>
</nav>

<div id="user-role" style="display: none" th:text="${userRole}"></div>

<div id="demo" class="container">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div class="userprofile social ">
                    <div class="userpic"><img th:src="'/images/' + ${user.picture}" alt="profile pic"
                                              class="userpicimg"></div>
                    <h3 class="username"><span th:text="${user.getFirstName()}"></span> <span
                            th:text="${user.getLastName()}"></span></h3>
                    <p><span th:text="${user.getCountry()}"></span></p>
                    <p><span id="username-field" th:text="${user.getLogin().getUsername()}"></span></p>
                </div>
                <div class="col-md-12 border-top border-bottom">
                    <ul class="nav nav-pills pull-left countlist" role="tablist">
                        <li role="presentation">
                            <h3><span th:text="${user.getSenderFriendList().size()}"></span><br>
                                <small>Friends</small></h3>
                        </li>
                        <li role="presentation">
                            <h3><span th:text="${user.getPosts().size()}"></span><br>
                                <small>Posts</small></h3>
                        </li>
                        <li role="presentation">
                            <h3><span th:text="${user.getLikes().size()}"></span><br>
                                <small>Total likes</small></h3>
                        </li>
                    </ul>


                    <div id="table-content">

                        <div th:id="${user.id}" class="user-id-current">

                            <a href="#popup1" class="followbtn edit-user-final btn btn-lg btn-info"><span
                                    class="glyphicon glyphicon-pencil "></span> Edit profile</a>

                        </div>

                    </div>


                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- /.col-md-12 -->
        <div class="col-md-4 col-sm-12 pull-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">Personal Description</h2>
                    <p class="page-subtitle small"><span
                            th:text="${user.description}"></span></p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">More information</h2>
                </div>
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="fa fa-male"></span> <span
                                th:text="${user.gender}"></span></li>
                        <li class="list-group-item"><span class="fa fa-institution"></span> <span
                                th:text="${user.country}"></span></li>
                        <li class="list-group-item"><span class="fa fa-user"></span> I'm on <span
                                th:text="${user.age}"></span> years old.
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="page-header small">Recently Connected</h2>
                    <p class="page-subtitle small">You have recemtly connected with <span
                            th:text="${user.getReceivedFriendRequest().size()}"></span> friends</p>
                </div>

                <div class="col-md-12">


                    <div class="memberblock">


                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- Status Upload  -->
        <!--        <form action="/user/uploadAction" method="post" enctype="multipart/form-data">-->
        <div class="col-md-8 col-sm-12 pull-left posttimeline">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="status-upload nopaddingbtm">
                        <span id="creation-post-error"></span>
                        <textarea id="post-content" class="form-control"
                                  placeholder="What are you doing right now?"></textarea>


                        <div id="post-type-content">

                        </div>

                        <select id="post-visibility">
                            <option th:value="PUBLIC">Public</option>
                            <option th:value="PRIVATE">Private</option>
                        </select>
                        <br>
                        <ul class="nav nav-pills pull-left ">
                            <li id="text-upload">
                                <a title="">
                                    <i class="glyphicon glyphicon-font"></i></a>
                            </li>
                            <li id="video-upload">
                                <a title="" data-toggle="tooltip" data-placement="bottom"
                                   data-original-title="Picture">
                                    <i class="glyphicon glyphicon-facetime-video"></i></a>
                            </li>

                            <li>
                                <div class="glyphicon glyphicon-picture">
<!--                                    <button class="btn">Upload a file</button>-->
                                    <input class="glyphicon glyphicon-picture" type="file" name="files" id="contentT" multiple>
                                </div>
                            </li>


                        </ul>

                        <button id="submit-post" type="submit" class="btn btn-success pull-right" value="Upload Files">
                            Share

                        </button>
                    </div>
                </div>
            </div>


            <div id="post-conteiner">

            </div>

        </div>
        <!--        </form>-->
    </div>
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Editorial Window</h2>
        <a id="close-pop" class="close" href="#">&times;</a>
        <div id="content">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first-name-edit">First Name</label>
                    <input type="text" class="form-control" id="first-name-edit"
                           placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="last-name-edit">Last Name</label>
                    <input type="text" class="form-control" id="last-name-edit"
                           placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="email-edit">Email</label>
                <input type="email" class="form-control" id="email-edit"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <label for="description-edit">Description</label>
                <textarea class="form-control" id="description-edit"
                          placeholder="Description"> </textarea>
            </div>
            <div class="form-group">
                <label for="age-edit">Age</label>
                <input type="text" class="form-control" id="age-edit" placeholder="Age">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gender-edit">Gender</label>
                    <select th:field="*{genders}" class="form-control" id="gender-edit">
                        <option th:each="gender : ${genders}"
                                th:value="${gender.toString()}"
                                th:text="${gender.toString()}">Gender
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="country-edit">Country</label>
                <select th:field="*{countries}" class="form-control" id="country-edit">
                    <option th:each="country : ${countries}"
                            th:value="${country.toString()}"
                            th:text="${country.toString()}">Gender
                    </option>
                </select>
            </div>


            <form action="/user/uploadAction" method="post" enctype="multipart/form-data">

                <input type="file" name="files" multiple>
                <input type="submit" value="Upload Files">
            </form>

            <br>

            <button type="submit" class="btn btn-primary btn-md submit-edit">Edit
            </button>
        </div>
    </div>
</div>

</body>

<script src="../static/js/user-page.js" th:src="@{/js/user-page.js}"></script>
<script src="../static/js/hide-navbar-buttons.js" th:src="@{/js/hide-navbar-buttons.js}"></script>
<script src="../static/js/post-type.js" th:src="@{/js/post-type.js}"></script>

</html>